@font-face {
    font-family: "Exo2-Light";
    src: url("/fonts/Exo2-Light.ttf")
}

@font-face {
    font-family: "Exo2-Regular";
    src: url("/fonts/Exo2-Regular.ttf")
}

@font-face {
    font-family: "FiraCode-Regular";
    src: url("/fonts/FiraCode-Regular.ttf")
}


.page_text .highlight {
    margin-bottom: 50px
}

.page_text code {
    border-width: 0px;
    font-family: "FiraCode-Regular";
    font-size: 13px;
    margin-top: 50px;
    padding: 20px;
    display: block;
}

.page_text .marked code {
    border-color: skyblue;
    border-width: 0px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    margin-top: 0px;
    margin-bottom: -20px;
    padding: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: block;
}


.page_text blockquote {
    border-left-width: 5px;
    border-left-style: solid;
    border-right-width: 5px;
    border-right-style: solid;
    border-color:#ccc;
    background: #e5e5e5;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 40px;
    font-style: italic;
    font-size: 15px
}

.page_text blockquote p {
    display: block;
    font-family: "Exo2-Light";
    color: #555555;
    padding: 15px;
}



.page_text p {
    font-family: "Exo2-Regular";
    font-size: 14px;
    text-indent: 0em;
    text-align: justify;
    color: #555555; 
    margin-bottom: 20px
}

.page_text h1{
    font-family: "Exo2-Light";
    color: #888888;
    margin-top: 40px;
    margin-bottom: 20px;
    font-weight: 300
}

.page_text .codemark {
    margin-top: 50px;
    border-top-style: solid;
    border-top-width: 3px;
    border-top-color: #ddd;
    display: block;
    position: relative;
    height: 20px
}
.page_text .codemark span {
    text-align: right;
    font-family: "Exo2-Light";
    font-size: 13px;
    color: #777;
    position: absolute;
    background: #e5e5e5;
    height: inherit;
    width: 30%;
    overflow: hidden;
    padding-right: 20px;
    right: 0px
}


