.picture {
    margin-top: 70px ;
    width: 100%;
    left: -5px;
    margin-bottom: 70px;
    position: relative;
}

.picture + .picture {
    margin-top: -30px;
}

.picture img {
   width: 100%;
   display: block;
   border-radius: 20px;
}