<html lang=ru>
    <head>
        <title> {{ .Title }} </title>
        <link rel="stylesheet" href="/css/page_style.css" />
        <link rel="stylesheet" href="/css/article_style.css" />
        <link rel="stylesheet" href="/css/picture_style.css" />
        <link rel="stylesheet" href="/css/syntax.css" />
        <link rel="stylesheet" href="/css/image_viewer.css" />
    </head>

    <body>
        <div class="head_white_background"></div>
        <div class="head_background"></div>
        <div class="button_panel">
            <a href="/index.html">
                <img src="/images/home-icon-silhouette.svg" height=35px style="margin-right: 20px;"/>
            </a>
            <a href="http://github.com/synxroform/">
                <img src="/images/GitHub_alt-512.png" height=40px/>
            </a>

        </div>

            {{ if .PrevInSection }}
            <a href="{{ .PrevInSection.Permalink }}">
                <svg class="arrow_back" viewBox="0 0 477.175 477.175">
                    <linearGradient id="lin_grad">
                        <stop offset="0%" stop-color="#fff"></stop>
                        <stop offset="100%" stop-color="#fff0"></stop>
                    </linearGradient>
                    <g>
                        <path d="M145.188,238.575l215.5-215.5c5.3-5.3,5.3-13.8,0-19.1s-13.8-5.3-19.1,0l-225.1,225.1c-5.3,5.3-5.3,13.8,0,19.1l225.1,225c2.6,2.6,6.1,4,9.5,4s6.9-1.3,9.5-4c5.3-5.3,5.3-13.8,0-19.1L145.188,238.575z" fill="url(#lin_grad)"></path>
                    </g>
                </svg>
            </a>
            {{ end }}
            
            {{ if .NextInSection }}
            <a href="{{ .NextInSection.Permalink }}">
                <svg class="arrow_next" viewBox="0 0 477.175 477.175">
                    <linearGradient id="lin_grad2">
                        <stop offset="0%" stop-color="#fff0"></stop>
                        <stop offset="100%" stop-color="#fff"></stop>
                    </linearGradient>
                    <g>
                        <path d="M360.731,229.075l-225.1-225.1c-5.3-5.3-13.8-5.3-19.1,0s-5.3,13.8,0,19.1l215.5,215.5l-215.5,215.5 c-5.3,5.3-5.3,13.8,0,19.1c2.6,2.6,6.1,4,9.5,4c3.4,0,6.9-1.3,9.5-4l225.1-225.1C365.931,242.875,365.931,234.275,360.731,229.075z" fill="url(#lin_grad2)"></path>
                    </g>
                </svg>
            </a>
            {{ end }}

        <div class="page_container">
            <div class="page_head">
                <a class="page_button" href="/posts"> список статей </a>
                <span class="page_logo"> СИНХРОФОРМА </span>
                <span class="page_date">{{ .PublishDate.Format "02.01.2006" }}</span>
            </div>

            <div class="page_id_container">
              <span class="page_id"> {{ .Params.postid }} </span>
            </div>
            <div class="big_arrow"></div>
            <article class="page_text">{{ .Content }}</article> 
        </div>
        <div class="footnote">
            <p>
                <span> synxroform :{{.Params.author}} / {{ .Params.postid }} / {{ .PublishDate.Format "02.01.2006" }}</span>
            </p>
        </div>
        {{if .Params.katex }}{{partial "katex.html" . }}{{end}}
    </body>
</html>