
<!DOCTYPE html>
<html lang="ru">
<head>
	        <!-- Global site tag (gtag.js) - Google Analytics -->
			<script async src="https://www.googletagmanager.com/gtag/js?id=UA-159137770-1"></script>
			<script>
				window.dataLayer = window.dataLayer || [];
				function gtag(){dataLayer.push(arguments);}
				gtag('js', new Date());
	
				gtag('config', 'UA-159137770-1');
			</script>

	<!-- Basic Page Needs
	================================================== -->
	<meta charset="utf-8">
	<title>SYNXROFORM</title>
	<meta name="description" content=".">
	<meta name="author" content="">
	
	<!-- Mobile Specific Metas
	================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	
	<!-- CSS Files
	* cssreset-min.css 			- CSS reset
	* typegrid.css				- Responsive grid system
	* style.css					- Main CSS file
	
	Original LESS Stylesheet
	<link rel="stylesheet/less" type="text/css" href="css/style.less" />
	================================================== -->
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">


		
	<!--[if lt IE 8]>
		<script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE8.js"></script>
	<![endif]-->

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<link href="https://fonts.googleapis.com/css?family=Exo+2:300,400|Fira+Code|Roboto+Slab:400,300&display=swap" rel="stylesheet">
	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="images/favicon.ico">
	<link rel="apple-touch-icon" href="images/apple-touch-icon.png">

</head>

<body>
		<!-- Header - Half Logo
	================================================== -->
	<div class="simple-menu">
		<a class="button" href="/about.html#mail">ABOUT</a>
		<a class="button" href="/about.html#mail"></a>
	</div>	
	<div class="synxroform-logo">
				<img src="/images/synxroform_logo.svg" alt="" />
	</div>
	<div class="post-table" id="post-table">
		{{ range .Site.RegularPages }}
			<!--
        		<meta   name="post_md" 
                postid="{{ .Params.postid }}" 
                title="{{ .Title }}" 
                date="{{ .PublishDate.Format `02.01.2006` }}" 
                postdesc="{{ .Params.postdesc }}" 
				link="{{ .Permalink }}"/>-->
				<div class="post-cell">
					<h1>{{ .Params.postid }} //</h1><br>
					<span style="margin-left: 10px;">{{ .Title }}</span>
					<a href="{{ .Permalink }}#post-head"><img src="{{.Params.thumb}}"></a>
				</div>
        {{ end }}

	</div>
</body>
</html>